/* %interbold-700 {
  font-family: "Inter-Bold";
  font-weight: 700;
}
%interbolditalic-700 {
  font-family: "Inter-BoldItalic";
  font-weight: 700;
}
%interextrabold-800 {
  font-family: "Inter-ExtraBold";
  font-weight: 800;
}
%interextrabolditalic-800 {
  font-family: "Inter-ExtraBoldItalic";
  font-weight: 800;
} */